.action-bar {
    background-color: #3fd78e;
    color: #fff;
}

.list-item {
    margin-bottom: 2;
}

.item-title {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    vertical-align: bottom;
    padding: 16;
    font-size: 20;
    margin-bottom: 0;
    text-align: center;
}